/* SECCIONES COMUNES */

#logo{
    /* Width y Height */
    width: 35px;
    height: 20px;
}

header {
    /* Fuente */
    font-family: sans-serif;
    font-size: 20px;

    /* Padding */
    padding: 15px;

    /* Colores */
    background-color:#f0ffff;
}

nav ul{
    /* Margin */
    margin: 0;

    /* Padding */
    padding: 0;

    /* Colores */
    background-color:  #d5f9f9;

    /* Otros */
    overflow: hidden;
    list-style-type: none;
}
  
nav li{
    /* Float */
    float: left;

    /* Fuente */
    font-family: sans-serif;
    text-align: center;

    /* Padding */
    padding: 16px;
}
  
nav li:hover {
    /* Colores */
    background-color: #f0ffff;

    /* Otros */
    cursor: pointer;
}

body{
    /* Colores */
   background-color: rgb(212, 255, 216); 
}

.main{
    /* Display */
    display: flex;
}

aside{
    /* Margin */
    margin-left: 2.5%;
    margin-top: 1%;

    /* Fuente */
    font-family: sans-serif;
    text-align: center;
    
    /* Padding */
    padding-left: 2%;
    padding-right: 2%;

    /* Colores */
    background-color: beige;

    /* Otros */
    border-radius: 25px;
}

/* SECCIÓN DE 'GRÁFICAS' */

#home{
    /* Display */
    display:grid;

    /* Width y Height */
    width: 120%;

    /* Margin */
    margin-top: 1%;
    
    /* Padding */
    padding: 2%;

    /* Colores */
    background-color: beige;

    /* Otros */
    border-radius: 25px;
}

.add-graph-button{
    /* Float */
    float: left;

    /* Fuente */
    font-family: sans-serif;
    font-size: 120%;

    /* Padding */
    padding: 1%;

    /* Colores */
    background-color: #d5f9f9;

    /* Otros */
    border-radius: 15px;
    cursor: pointer;
}

#add-graph-menu{
    /* Display */
    display: none;

    /* Fuente */
    font-family: sans-serif;
    text-align: center;

    /* Margin */
    margin-top: 6%;

    /* Padding */
    padding: 2%;

    /* Colores */
    background-color: rgb(214, 237, 216);

    /* Otros */
    border-radius: 15px;
}

.div-charts{
    /* Float */
    float: left;

    /* Width y Height */
    width: 97.5%;
    height: 1000px;

    /* Fuente */
    font-family: sans-serif;
    text-align: left;

    /* Margin */
    margin-top: 1%;

    /* Padding */
    padding: 1%;
    padding-left: 1%;

    /* Colores */
    background-color:#f0ffff;

    /* Otros */
    border-radius: 25px;
}

.options-panel-chart{
    /* Display */
    display: none;

    /* Width y Height */
    width: 95%;

    /* Margin */
    margin-top: 2%;
    margin-left: 2%;

    /* Padding */
    padding: 0.5%;

    /* Otros */
    outline: solid;
}

.options-panel-chart h3{
    /* Fuente */
    text-align: center;
}

.content-options{
    /* Float */
    float: left;

    /* Margin */
    margin-right: 2%;

    /* Fuente */
    text-align: center;
}

.charts-button{
    /* Float */
    float: right;

    /* Width y Height */
    width: 30%;

    /* Fuente */
    font-family: sans-serif;
    font-size: 80%;

    /* Margin */
    margin-top: 1%;
    margin-right: 1%;

    /* Padding */
    padding: 1%;

    /* Colores */
    background-color: rgb(234, 184, 184);

    /* Otros */
    border-radius: 15px;
    cursor: pointer;
}

.show-options-button{
    /* Float */
    float: right;

    /* Width y Height */
    width: 30%;

    /* Fuente */
    font-family: sans-serif;
    font-size: 80%;

    /* Margin */
    margin-top: 2%;
    margin-right: 1%;

    /* Padding */
    padding: 1%;

    /* Colores */
    background-color: rgb(200, 189, 135);

    /* Otros */
    cursor: pointer;
}

/* SECCIÓN DE 'DATOS' */

#data{
    /* Display */
    display: none;

    /* Width y Height */
    width: 100%;

    /* Margin */
    margin-top: 1%;

    /* Padding */
    padding: 2%;

    /* Colores */
    background-color: beige;

    /* Otros */
    border-radius: 25px;
}

#file-loaded{
    /* Display */
    display: none;
}

#insert-file{
    /* Display */
    display: none;
}

#submit-chart{
    /* Width y Height */
    width: 70px;
    height: 30px;

    /* Fuente */
    font-family: sans-serif;
    font-size: 15px;
}

#submit-data{
    /* Width y Height */
    width: 70px;
    height: 30px;

    /* Fuente */
    font-family: sans-serif;
    font-size: 15px;
}

#form-insert-file{
    /* Display */
    display: none;
}

.header-container{
    /* Margin */
    margin: 1%;

    /* Fuente */
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

    /* Padding */
    padding: 15px;

    /* Colores */
    background-color:#f0ffff;

    /* Otros */
    border-radius: 25px;   
}

#submit-file{
    /* Display */
    display: none;
}

#content{
    /* Width y Height */
    height: 90%;

    /* Fuente */
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

    /* Margin */
    margin: 1%;

    /* Padding */
    padding: 30px;

     /* Otros */
     border-radius: 25px;   
}

.chart_data{
     /* Width y Height */
     width: 100%;
     height: 50%;

    /* Fuente */
    font-size: 17.5px;
    font-family: sans-serif;
    text-align: left;

    /* Margin */
    margin-top: 2%;

    /* Padding */
    padding: 0.005%;
    padding-left: 2%;
    padding-right: 1%;

    /* Colores */
    background-color:#f0ffff;

    /* Otros */
    border-radius: 25px;
}


#title-textbox{
    /* Display */
    display: none;
}

.remove-serie-button{
    /* Float */
    float: right;

    /* Width y Height */
    width: 30%;

    /* Fuente */
    font-family: sans-serif;
    font-size: 80%;

    /* Margin */
    margin-top: 2%;

    /* Padding */
    padding: 1%;

    /* Colores */
    background-color: rgb(234, 184, 184);

    /* Otros */
    border-radius: 15px;
    cursor: pointer;
}


/* SECCIÓN DE 'INFORMACIÓN' */

#about{
    /* Display */
    display: none;

    /* Width y Height */
    width: 120%;

    /* Margin */
    margin-top: 1%;

    /* Padding */
    padding: 2%;

    /* Colores */
    background-color: beige;

    /* Otros */
    border-radius: 25px;
}

/* SECCIÓN DE 'CONTACTO' */

#contact{
    /* Display */
    display: none;

    /* Width y Height */
    width: 120%;

    /* Margin */
    margin-top: 1%;

    /* Padding */
    padding: 2%;

    /* Colores */
    background-color: beige;

    /* Otros */
    border-radius: 25px;
}

.personal-file{
    /* Margin */
    margin: 1%;

    /* Padding */
    padding: 2%;

    /* Fuente */
    font-family: sans-serif;

    /* Colores */
    background-color:#f0ffff;

    /* Otros */
    border-radius: 25px;
}

.personal-file img{
    /* Float */
    float: right;

    /* Width y Height */
    width: 20%;
    height: 20%;

    /* Otros */
    border-radius: 25px;
}

.staff{
    /* Float */
    float: left;
}