<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Charts Example</title>
        <script src="../scripts/data.js"></script>
        <link rel="stylesheet" href="../styles/charts.css">
    </head>
    <body onload="draw();">
        <canvas id="charts" width="500" height="500"></canvas>
        <form id="myForm" onchange="getCSVData();">
            <input type="file" id="csvFile" accept=".csv"/>
            <input type="submit" value="ENVIAR"/>
        </form>
    </body>
</html>