header {
    font-size: 20px;
    line-height: 22px;
    font-family: sans-serif;
    padding: 15px;
    background-color:#f0ffff;
    fill: black;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #d5f9f9;
}

nav li{
    float: left;
}
  
nav li a{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
}
  
nav li a:hover {
    background-color: #f0ffff;
}

body{
   background-color: rgb(212, 255, 216); 
}

main{
    display: flex;
}

section{
    margin-top: 1%;
    width: 70%;
    border-radius: 25px;
    background-color: beige;
}

aside{
    margin-left: 5%;
    margin-top: 1%;
    font-family: sans-serif;
    border-radius: 25px;
    background-color: beige;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

#logo{
    height: 20px;
    width: 35px;
}