<!DOCTYPE html>
<html>
    <head>
        <title>Data visualization of the Sustainable Development Goals</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/index-styles.css">
        <script src="../scripts/main.js"></script>
    </head>
    <body>
        <div class="insert-csv">
            <h2>Insert .csv here</h2>
            <form id="obtainCSVForm" onchange="getCSVData();" onsubmit="showLoadButtom();">
                <input type="file" id="csvFile" accept=".csv"/>
                <input type="submit" value="ENVIAR"/>
            </form>
            <br></br>
            <button id="show-charts-buttom" onclick="showWebGL();">LOAD</button>
        </div>
        <div id="WebGL-output">
            <div class="info-chart">
                <h3>Number of variables: </h3><h3 id="number-variables"></h3> 
            </div>
            <div class="charts">
                <canvas id="bar_chart"></canvas>
            </div>
        </div>
    </body>
</html>