<!DOCTYPE html>
<html>
    <head>
        <title>Home | Data Visualization</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/frontpage.css">
        <script src="../scripts/frontpage-script.js"></script>
    </head>
    <body onload="draw();">
        <header><canvas id="logo"></canvas> Data Visualization of the Sustainable Development Goals</header>
        <nav>
            <ul>
                <li><a href="frontpage.html">Home</a></li>
                <li><a href="">Data</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
        <main>
            <section>
                
            </section>
            <aside>
                <h3>Bibliografía relacionada</h3>
                <p><a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API">Canvas API - MDN Web Docs - Mozilla</a></p>
                
            </aside>
        </main>
    </body>
</html>