<!DOCTYPE html>
<html>
    <head>
        <title>Data | Data Visualization</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/data.css">
        <script src="../scripts/data-script.js"></script>
    </head>
    <body onload="draw();">
        <header><canvas id="logo"></canvas> Data Visualization of the Sustainable Development Goals</header>
        <nav>
            <ul>
                <li><a href="frontpage.html">Home</a></li>
                <li><a href="data.html">Data</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
        <main>
            <div class="drop-insert-file" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                <h3>Drop or insert a file</h3>
                <input type="file">
            </div>
            <div id="content"></div>
        </main>
    </body>
</html>